// html {
//     display: flex;
//     justify-content: center;
// }

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;



.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
}